/* homescreen top gradient remove */

.main-home-homeHeader{
  background-color: black !important;
}

/* black lyrics background */

.lyrics-lyrics-background {
  background-color: black !important;
}

/* additional black backgrounds */

.main-entityHeader-backgroundColor, .main-actionBarBackground-background, .main-topBar-background,
.mjZrvVI3CxfHJXu7y0Lg, .fIvMht6B9HdROywMNJZ4, .main-home-filterChipsSection{
  background-color: black !important;
}

/* scrollbar hide */

.os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle, .os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track{
  width: 0 !important;
}

/* black gradient */
.XVz4BMGP5zAEE5p90mYK, .main-entityHeader-backgroundColor{
  --background-base: black !important;
  --background-base-min-contrast: black !important;
  
}

.playlist-playlist-actionBarBackground-background {
  --color-from: transparent !important;
  --color-to: transparent !important;
}

.Bdcf5g__Rug3TGqSdbiy{
    --background-base-70: black !important;
}

/* white text instead of accented color */
.encore-internal-color-text-subdued {
  color: white;
}

/* fullscreen artist page*/
.wozXSN04ZBOkhrsuY5i2, .XUwMufC5NCgIyRMyGXLD{
  height: 100vh;
  clip-path: inset(0 0 0vh 0);
  --background-base: transparent !important;
}

.main-entityHeader-background {
  height: 91vh !important;
}

.dhq75ObRGjfBoBlz6clW{
  --background-base: transparent !important;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage {
  height: 91vh;
}

.dhq75ObRGjfBoBlz6clW:after{
  height: 100vh;
  background-color: transparent;
}

.contentSpacing {
  max-width: 100vw;
}

.T0fKO6B7LQSCE_VaSM1P{
  height:100vh
}

.main-entityHeader-overlay:after {
  height: 91vh;
}

/* cinema mode black lyrics background */

.a7Ka5yznvrbSDPk1G36o, .JVoVebPNAPKBLKSlIBXw{
  --cinema-mode-bg-color-from: black !important;
  --cinema-mode-bg-color-to: black !important;
}

/* equalizer bg color fix */
.x-settings-equalizerSection {
  background-color: black !important;
}

.main-yourLibraryX-listItem {
  --background-highlight: rgba(121, 121, 121, 0.452);
}

/* lyrics page color fix */
.main-entityHeader-overlay{
  background: transparent !important;
}

.main-actionBarBackground-background, .main-home-homeHeader{
  background-image: linear-gradient(black, black) !important;
}

/* dark buttons */
.encore-dark-theme, .encore-bright-accent-set, .encore-light-theme{
  --background-highlight: #616161 !important;
  --background-press: #2c2d2c !important;
}

/* dark now playing icon */

.main-trackList-playingIcon{
  filter: grayscale(1);
}